/* normalize css to sane defaults across all browsers */
@import url("normalize.css");

/* add styles */
body {
  padding: 0.5em 1em;
  font-family: Sans-Serif;
}
p, li {
  line-height: 1.5em
}
.container, .callout {
  padding: 10px;
  background-color: #f0f0f0;
}
.callout {
  color:rgb(75, 71, 110, .50);
}

#codeoutput {
  font-family: monospace;
  width: 100%;
  white-space: pre;
}
code {
  color: #A55;
}
