body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#output {
  display:
  width: 640px;
  height: 480px;
  background-color: #002000;
  color: #40F040;
  padding: 10px;
  box-sizing: border-box 
}
